@media (min-width: 992px) {
  .mobil_header {
    display: none;
  }
  .sidebar {
    display: block;
  }
}

/* Mobil header style */
/* Skal kun aktivere på en vis width-size. Ellers default til desktop */
/* Adapted from https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
/* Style the navigation menu */
@media (max-width: 992px) {
  .mobil_header {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .topnav {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
