#grid_4-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.grid_7-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
