html {
  /* farve */
  --border: #484848;
  --pink: #ffc7c7;
  --grøn: #97d9ce;
  --gul: #f8de7d;
  --blå: #b9c3f8;
  --hover: #927878;

  /* paddig */
  --space-xxs: 0.5rem;
  --space-xs: 0.75rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #f5f5f5;
}

@media (min-width: 992px) {
  .mobil_header {
    display: none;
  }
  /*.sidebar {
    display: block;
  } */

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .logo img {
    max-width: 10rem;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  /* styling af linkbillede */
  .forside5 {
    border-style: solid;
    border-width: 2rem;

    position: relative;
  }

  footer {
    text-align: left;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 100vh;
    background-color: var(--border);
    color: white;
  }
  .h3 {
    color: white;
    list-style: none;
  }
  .bund {
    text-align: center;
    margin-top: 1.5rem;
  }

  .sidebar {
    position: fixed;
    left: 0;
    height: 100%;
  }
  header img {
    margin-left: 2rem;
    max-width: 10rem;
    text-decoration: none;
  }
  .sidebar ul {
    list-style: none;
    font-size: 1.5rem;
  }
  button {
    all: unset;
    display: block;
    padding-top: 1.25rem;
    letter-spacing: 0.3rem;
    color: black;
    font: impact;
    cursor: pointer;
  }

  button:hover {
    color: var(--hover);
    /* Er det til burgermenu? bare ift. forklaring til fremlæggelse hehe */
  }

  h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 0.6rem;
  }

  article h2 {
    letter-spacing: 0.3rem;
    display: inline-block;
    overflow: hidden;
    font-size: 1rem;
    margin: 2px;
  }

  #popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* ellers er popup'en der fra load */
    align-items: center;
    justify-content: center;
  }

  #popup article {
    text-align: center;
    width: 40%;
    background-color: white;
  }

  .imgh2container img {
    width: 100%;
  }

  .imgh2container h2 {
    font-family: impact;
    font-size: 1rem;
  }

  .imgh2container {
    padding-top: 1.5rem;
    width: 80%;
    margin: auto;
  }

  article p {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: cambria;
    font-size: 0.8rem;
    text-align: justify;
  }
}

/* -----------------------MOBILVIEW------------------------ */
/* Mobil header style */
/* Skal kun aktivere på en vis width-size. Ellers default til desktop */
/* Adapted from https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
/* Style the navigation menu */

@media (max-width: 992px) {
  .mobil_header {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .topnav {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */

  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin-left: 1rem;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #logo {
    max-width: 10rem;
    margin-left: -1rem;
  }

  /* for at fjerne ekstra billeder i mobileview */
  .grid_7-3 img {
    display: none;
    visibility: hidden;
  }

  .grid_7-3 .forside5 {
    visibility: visible;
    display: flex;
  }

  h1 {
    margin: 3rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.3rem;
  }

  article {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  article h2 {
    letter-spacing: 0.3rem;
    display: inline-block;
    font-size: 1rem;
    margin: 2px;
  }

  article img {
    width: 60%;
    float: center;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    all: unset;
    display: block;
    padding-top: 1.25rem;
    letter-spacing: 0.3rem;
    color: black;
    font: impact;
    cursor: pointer;
  }

  button:hover {
    color: var(--hover);
    /* Er det til burgermenu? bare ift. forklaring til fremlæggelse hehe */
  }

  footer {
    text-align: left;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 100vh;
    background-color: var(--border);
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }

  article p {
    margin: 1rem;
    font-family: cambria;
    font-size: 0.7rem;
    text-align: justify;
  }

  #popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* ellers er popup'en der fra load */
    align-items: center;
    justify-content: center;
  }

  #popup article {
    text-align: center;
    width: 60%;
    background-color: white;
  }

  .imgh2container img {
    width: 100%;
  }

  .imgh2container h2 {
    font-family: impact;
    font-size: 0.5rem;
  }

  .imgh2container {
    width: 0%;
    margin: auto;
  }
}
